*{
    background-color: black;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    font-family:monospace;
}

h1, label, h2,p{
    background-color: transparent;
}
input{
    border-radius: 5px;
}
button{
    background-color: greenyellow;
    width: 140px;
    height: 40px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: aquamarine;
}
button:active{
    color: white;
    padding-right: 10px;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 300px;
    background-color: grey;
    box-shadow: 10px 10px 5px 2px rgb(102, 6, 137, 0.5);
}
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    gap: 15px;
    position: absolute;
}
#estatura_contenedor{
    background-color: transparent;
    margin-right: 50px;

}
#peso_contendor{
    background-color: transparent;
}
#contenedor_resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    visibility: hidden;
}
